h1 {
    display: flex;
    justify-content: center;
}

body {
    color: white;
    background: #1D4350;
    background: -webkit-linear-gradient(to right, #A43931, #1D4350);
    background: linear-gradient(to right, #A43931, #1D4350);
    /* ეს ძაან მომწონს და საიტი ვიპოვე მაგისთვის uigradients.com */
}

span {
    font-style: italic;
}

.fotkebi {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    gap: 50px;
}

.fotka:hover {
    transform: scale(1.1);
}

p {
    font-size: 20px;
}

.pTagii  {
    margin: 20px;
    margin-top: 50px;
    border: solid white 5px;
    border-radius: 27px;
    padding: 20px;
}

.table {
    display: flex;
    justify-content: center;
    text-align: center;
    border-collapse: collapse;
    color: black;
}

th {
    background-color: aquamarine;
}

tr {
    background-color: white;
}

.ranking {
    border-collapse: collapse;
    width: 500px;
    height: 200px;
    font-size: 20px;
}

.w:hover{
    color: aqua;
}

.ranking tr:nth-child(even) {
    background-color: #ffffff;
}

.ranking tr:nth-child(odd) {
    background-color: azure;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    border: white 2px double;
    padding: 80px;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 60px;
    border-radius: 24px;
}

.btn {
    width: 80px;
}

.text {
    width: 300px;
    height: 60px;
    border-radius: 24px;
    text-align: center;
    margin-right: 20px;
}

.text:hover {
    background-color: azure;
}

.text:focus {
    background-color: bisque;
}

.btn:hover {
    background-color: azure;
}

.btn:active {
    background-color: bisque;
}



